@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-image: radial-gradient(circle at 54.9% 22.2%, #ffffff 0, #fffffb 16.67%, #fff0e6 33.33%, #f2dacd 50%, #e5c4b5 66.67%, #dab2a5 83.33%, #d4a59a 100%);
    transition: background 0.3s ease;
}

.dark-mode {
    /*background: hsla(38, 22%, 7%, 1);
    background: linear-gradient(225deg, hsla(38, 22%, 7%, 1) 0%, hsla(19, 64%, 24%, 1) 100%);
    background: -moz-linear-gradient(225deg, hsla(38, 22%, 7%, 1) 0%, hsla(19, 64%, 24%, 1) 100%);
    background: -webkit-linear-gradient(225deg, hsla(38, 22%, 7%, 1) 0%, hsla(19, 64%, 24%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#16130E", endColorstr="#652F16", GradientType=1);*/
    background: linear-gradient(225deg, hsla(38, 22%, 7%, 1) 0%, hsla(19, 64%, 24%, 1) 100%), hsla(38, 22%, 7%, 1);
    color: white;
    transition: background 0.3s ease;
}

.dark-mode .menu-item-cima,
.dark-mode .menu-item-baixo,
.dark-mode .conteudo-principal-escrito-botao,
.dark-mode .conteudo-terciario-botao,
.dark-mode .terciario-legenda,
.dark-mode .conteudo-principal-escrito {
    color: white;
}

.dark-mode .arrow {
    border-color: rgba(255, 255, 255, 0.671) transparent transparent rgba(255, 255, 255, 0.671);
}

.dark-mode .conteudo-principal-escrito-botao,
.dark-mode .conteudo-terciario-botao {
    border-color: white;
}

.dark-mode .conteudo-principal-escrito-botao:hover {
    background-color: #25150c;
}

.dark-mode .conteudo-terciario-botao:hover {
    background-color: #361b0d;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    padding: 18px;
    /*24px*/
}

.menu-logo {
    height: 72px;
    margin-left: 10px;
    margin-right: -10px;
}

.cabecalho-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25%;
}


/*achar um jeito de centralizar a logo no nav*/

.cabecalho-menu-cima,
.cabecalho-menu-baixo {
    display: flex;
    gap: 30px;
    flex-direction: row;
}

.menu-item-cima,
.menu-item-baixo {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

.btn {
    border: none;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s;
}

.menu-item-cima:hover,
.menu-item-baixo:hover {
    /*mudar a cor ao passar o mouse*/
    color: rgb(233, 181, 139);
    transition: color 0.3s;
}

.conteudo {
    margin-bottom: 48px;
    /*Margem para quando acaba um conteúdo não ficar aquele corte estranho*/
    border-top: 2px solid;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 64px;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.conteudo-principal-escrito-botao {
    background-color: transparent;
    width: 231px;
    height: 79px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
    transition: background 1s ease;
}

.conteudo-principal-escrito-botao:hover {
    background-color: #f8cbac;
    transition: background 1s ease;
}


/*Seta animada*/

.arrowAnimWrapper {
    position: relative;
    /*width: 79px;*/
    text-align: center;
}

.arrowAnim {
    /*height: 79px;*/
    justify-content: center;
}

.arrow {
    width: 20px;
    height: 20px;
    border: 7px solid;
    border-color: rgba(0, 0, 0, 0.671) transparent transparent rgba(0, 0, 0, 0.671);
    transform: rotate(-135deg);
}

.arrowSliding {
    position: absolute;
    top: 10px;
    /* Posiciona a seta no fundo do .arrowAnimWrapper */
    left: 20%;
    /* Centraliza horizontalmente */
    transform: translateX(-20%) translateY(20%);
    /* Desloca verticalmente para centralizar abaixo do botão */
    -webkit-animation: slide 4s linear infinite;
    animation: slide 4s linear infinite;
}

.delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(-35px);
    }
    20% {
        opacity: 1;
        transform: translateY(-20px);
    }
    80% {
        opacity: 1;
        transform: translateY(20px);
    }
    100% {
        opacity: 0;
        transform: translateY(35px);
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(-35px);
    }
    20% {
        opacity: 1;
        transform: translateY(-20px);
    }
    80% {
        opacity: 1;
        transform: translateY(20px);
    }
    100% {
        opacity: 0;
        transform: translateY(35px);
    }
}

.conteudo-principal-imagem {
    height: 560px;
    border-radius: 270px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
}

.conteudo-secundario-titulo {
    border-top: 2px solid;
    padding-top: 48px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

.conteudo-terciario {
    border-top: 2px solid;
    padding-top: 48px;
    gap: 24px;
    margin-top: 48px;
    text-align: center;
}

.conteudo-terciario-titulo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
}

.conteudo-terciario-blocos {
    display: flex;
    justify-content: center;
    /*justify-content: space-around;*/
    flex-direction: row;
    /*flex-direction: column;
    align-items: center;
    text-align: center;*/
}

.conteudo-terciario-bloco {
    display: flex;
    flex-direction: column;
}

.terciario-legenda {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.terciario-legenda:hover {
    border-bottom: 3px solid #361b0d;
    margin-top: -3px;
}

.dark-mode .terciario-legenda:hover {
    border-bottom: 3px solid rgb(233, 181, 139);
}

.conteudo-terciario-imagem {
    height: 250px;
    /*tamanho não mudar*/
    border-radius: 100px;
    overflow: hidden;
    transition: border-radius 0.3s ease;
    /* Adiciona uma transição suave para o raio da borda da imagem */
}

.conteudo-terciario-bloco:hover .conteudo-terciario-imagem {
    border-radius: 20px;
    /* Redefine o raio da borda ao passar o mouse para criar o efeito de corte redondo */
}

.rodape {
    padding: 32px;
    border-top: 2px solid black;
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;
}

.conteudo-terciario-botao {
    background-color: transparent;
    width: 231px;
    height: 79px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
    margin-top: 20px;
    transition: background 1s ease;
}

.conteudo-terciario-botao:hover {
    background-color: #c79c91;
    transition: background 1s ease;
}


/*CSS do 'PTdireitos.html'*/

.conteudo-secundario-estrutura {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.conteudo-secundario-imagem {
    height: 560px;
    margin-left: 110px;
    /*antes era 50px*/
}

.conteudo-secundario-recolhivel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
}

.recolhivel {
    background-color: transparent;
    width: 100%;
    height: 79px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
    transition: background 1s ease;
}

.dark-mode .recolhivel {
    color: white;
}

.dark-mode .recolhivel:hover {
    background-color: #25150c;
}

.active,
.recolhivel:hover {
    background-color: #e9c6bcd2;
    cursor: pointer;
}

.recolhivel:after {
    content: '\002B';
    font-weight: bold;
    float: initial;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.recolhivel-conteudo {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.recolhivel-conteudo-texto {
    margin: 18px;
    text-align: left;
    font-weight: 400;
}

.recolhivel-conteudo-imagem {
    height: 270px;
    width: 270px;
}


/*Css da página PTokinawano*/

.conteudo-secundario-estrutura1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 50px;
}

.conteudo-secundario-paragrafo-ok {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
    margin-left: 110px;
    margin-right: 110px;
}

#ilhasImg {
    height: 360px;
}

#textAlinharEs {
    margin-left: 10px;
    margin-right: 60px;
}

.conteudo-terceiro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
}

.conteudo-terceiro-titulo {
    border-top: 2px solid;
    padding-top: 48px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
}

.conteudo-terceiro-estrutura {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.conteudo-terceiro-paragrafo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
    margin-left: 110px;
    margin-right: 110px;
}

.conteudo-terceiro-imagem {
    height: 360px;
    margin-right: 110px;
    margin-left: -160px;
    /*antes era 50px*/
}

.conteudo-terceiro-estrutura1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /*margin-right: 50px;*/
}

#textAlinharDi {
    margin-right: 60px;
}

.legenda1 {
    background-color: #ebebeba9;
    padding: 7px 4px 7px 4px;
    margin-left: 110px;
    margin-top: -5px;
    text-align: center;
    font-weight: 600;
}

.legenda2 {
    background-color: #ebebeba9;
    padding: 7px 4px 7px 4px;
    margin-right: 110px;
    margin-left: -160px;
    margin-top: -5px;
    text-align: center;
    font-weight: 600;
}

.dark-mode .legenda1,
.dark-mode .legenda2 {
    background-color: #1b1414a9;
}

.conteudo-terceiro-estruturaVid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.conteudo-terceiro-estruturaVid1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 110px;
    margin-right: 50px;
}


/*.video {
    height: 500px;
    width: 900px;
    margin-left: 110px;
    margin-right: 110px;
}*/

.video {
    width: 190%;
    height: 270px;
}


/*Achar uma forma de aumentar o vídeo*/


/*Css da página PTlinguas*/

.alinharSlides {
    margin-right: 110px;
}


/*Slides*/

.mySlides {
    display: none;
    height: 280px;
    width: 300px;
}

.mySlides:nth-child(1) {
    display: block;
}

.slide-titulo {
    padding-top: 10px;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.slide-paragrafo {
    color: #000000;
    font-size: 15px;
    padding: 15px 30px;
    bottom: 8px;
    width: 100%;
    text-align: left;
}

.dark-mode .slide-titulo,
.dark-mode .slide-paragrafo {
    color: white;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: 20px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 16px;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 16px;
}

.dark-mode .prev,
.dark-mode .next {
    color: white;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(252, 195, 157, 0.376);
}

.dark-mode .prev:hover,
.dark-mode .next:hover {
    background-color: rgba(53, 26, 8, 0.637);
}


/* Caption text */


/* Number text (1/3 etc) */

.numbertext {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    top: 0;
    text-align: center;
}

.dark-mode .numbertext {
    color: white;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ca7f458f;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #CA7F45;
}


/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    font-family: 'Open Sans', sans-serif;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.quadrado {
    width: 16px;
    height: 16px;
    /*background-color: blueviolet;*/
    background-color: rgba(137, 43, 226, 0.116);
    z-index: 1;
    position: absolute;
    /*display: none; ativar na versão que esconde os quadrados*/
    border-radius: 6px;
    transition: background 1s ease;
}

#saoGabrielDaCachoeira {
    /*top: 156.5%;*/
    top: 990.5px;
    left: 293px;
    /*left: 21.7%;*/
}

#canta {
    /*
    top: 151.3%;
    left: 28.2%;*/
    top: 957.5px;
    left: 380px;
}

#bonfim {
    /*
    top: 149.6%;
    left: 28.9%;*/
    top: 948px;
    left: 390px;
}

#tikuna {
    /*
    top: 163.5%;
    left: 20.88%;*/
    top: 1035px;
    left: 281.5px;
}

#kayapo {
    top: 1082px;
    left: 496px;
}

#xerente {
    top: 1123px;
    left: 545px;
}

#guajajara {
    top: 1067px;
    left: 587px;
}

#tupi {
    top: 1057px;
    left: 657px;
}

#terena {
    top: 1272px;
    left: 437px;
}

#guarani {
    top: 1320px;
    left: 455px;
}

#vilaPav {
    top: 1250px;
    left: 649px;
}

#pancas {
    top: 1255px;
    left: 645px;
}

#laranjaTerra {
    top: 1266px;
    left: 642px;
}

#itarana {
    top: 1266px;
    left: 646px;
}

#santaMaria {
    top: 1269px;
    left: 648px;
}

#domingos {
    top: 1274px;
    left: 649px;
}

.pomerode {
    top: 1367px;
    left: 535px;
}

#cangucu {
    top: 1439px;
    left: 486.5px;
}

#novaErechim {
    top: 1370px;
    left: 484px;
}

#ipumirim {
    top: 1372px;
    left: 495px;
}

#ivora {
    top: 1410px;
    left: 475px;
}

#vilaFlores {
    top: 1400px;
    left: 503px;
}

.barao {
    top: 1409px;
    left: 504px;
}

.casca {
    top: 1395px;
    left: 496px;
}

#westfalia {
    top: 1409px;
    left: 500px;
}

#saoJose {
    top: 1375px;
    left: 475px;
}

#antonioCarlos {
    top: 1379px;
    left: 540px;
}

#rodeio {
    top: 1370px;
    left: 530px;
}

#palmeira {
    top: 1348px;
    left: 523px;
}

.mallet {
    top: 1355px;
    left: 512px;
}

#saoMateus {
    top: 1355px;
    left: 520px;
}

#prudentopolis {
    top: 1344px;
    left: 510px;
}


/*Css Saiba mais*/

#ultimoP1 {
    margin-left: -360px;
    margin-right: 360px;
}

#ultimoP2 {
    margin-left: 50px;
    margin-right: 0px;
    margin-bottom: 54px;
}

.conteudo-quarto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.quarto-estrutura1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-quarto-nome1 {
    padding-top: 48px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 16px;
    text-align: right;
    margin-right: 20px;
}

.quarto-estrutura2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.conteudo-quarto-nome2 {
    padding-top: 48px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 16px;
    text-align: left;
    margin-left: 20px;
}

.descricao1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: right;
    margin-right: 20px;
}

.descricao2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
}

.quarto-img {
    border-radius: 60px;
    height: 150px;
    width: auto;
}